.iklan-teks {
    position: relative;
    margin: 0;
    padding: 10px;
    max-height: 300px;
    overflow: hidden
}
.iklan-teks div {
    position: relative;
    background: #FFF;
    height: 120px;
    padding: 8px 0;
    margin: 0;
    z-index: 1;
    color: #555
}
.iklan-teks h2.iklan-header {
    position: relative;
    background: #FFF;
    font-size: 18px;
    color: #000000;
    border-top: 1px solid #d8d8d8;
    border-radius: 0;
    padding: 8px 0;
    margin: 0;
    text-transform: none;
    cursor: pointer
}
.iklan-teks h2.iklan-header:first-child {
    border-top: 0
}
.iklan-teks h2.iklan-header:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 20px;
    right: 15px;
    border: 5px solid transparent;
    border-color: #b2b2b2 transparent transparent;
    cursor: pointer
}
.isi-iklan span.judul-iklan {
    font-size: 18px;
    color: #000000;
    display: inline-block;
    cursor: pointer
}
.isi-iklan span.url-iklan {
    font-size: 12px;
    color: #00aecd;
    display: block;
    margin: 8px 0;
    cursor: pointer
}
.isi-iklan span.url-iklan:before {
    content: "\f0a1";
    font-family: FontAwesome;
    margin: 0 10px 0 0
}
.isi-iklan span.panah-besar {
    color: #ffffff;
    background: #00aecd;
    border-radius: 50%;
    height: 34px;
    float: right;
    width: 34px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
    transition: all .6s
}
.isi-iklan span.panah-besar:before {
    content: "\f054";
    font-family: FontAwesome;
    margin: 0 0 0 3px;
    font-size: 20px
}
.isi-iklan span.panah-besar:hover {
    background: #34495e;
    color: #fff
}
.isi-iklan p.isi {
    padding: 0;
    margin: 0 40px 0 0;
    color: #555;
    font-size: 12px;
    text-align: left
}
.icon-iklan {
    position: absolute;
    top: 0;
    right: -85px;
    background: #cdcccc url(http://2.bp.blogspot.com/--ivaHIgXThk/UnJWU80FLhI/AAAAAAAAF_Y/WrH-8aYijGw/s1600/info-iklan.png) 0 0 no-repeat;
    width: 100px;
    height: 15px;
    z-index: 99;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.icon-iklan a {
    float: left;
    opacity: 0;
    font-size: 11px;
    line-height: 15px;
}
.icon-iklan:hover {
    right: 0;
    background-position: 100% 0;
    padding-right: 15px;
    padding-left: 10px;
}
.icon-iklan:hover > a {
    opacity: 1;
    color: #333;
}
